@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
  --color-100: hsl(210, 46%, 95%);
  --color-200: hsl(212, 23%, 69%);
  --color-300: hsl(214, 17%, 51%);
  --color-400: hsl(217, 19%, 35%);

  --font-family:'Manrope', sans-serif;
  --font-body: 13px;
  --font-heading: 20px;
  --fw-500: 500;
  --fw-700: 700;

  --line-height: 20px;
  --letter-spacing: 0.122px;
  --border-radius: .8rem;
}

html,body {
  font-family: var(--font-family);
  font-size: var(--font-body);
  font-weight: var(--fw-500);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  background-color: var(--color-100);

  min-height: 100%;
  display: grid;
  place-content: center;
}


.card__wrapper {
  margin: 1.5rem;
  background-color: white;
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 1fr;

}

.card__image {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.card__content {
  padding: 40px 32px 0;
} 

.card__content h1 {
  color: var(--color-400);
  font-size: 16px;
  font-weight: var(--fw-700);
  letter-spacing: 0.2px;

  margin-bottom: 12px;
}

.card__content p {
  color:var(--color-300);
  font-style: normal;
}

.card__footer {
  margin-top: 2rem;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__footer--active {
  background-color: var(--color-400);
}

.card__author {
  display: flex;
  align-items: center;
  gap: 1rem;
  
}

.card__author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.card__author-info h2{
  font-size: var(--font-body);
  color:var(--color-400);
  font-weight: var(--fw-700);
}

.card__author-info span {
  color: var(--color-200);
}

.card__share-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-100);
  cursor: pointer;
  display: grid;
  place-content: center;
}

.card__share-icon:hover {
  background-color: var(--color-400);
  
}

/* Attribution styles */
.attribution {
  width: 100%;
  position: fixed;
  bottom: 1rem;
  font-size: .7rem;
  text-align: center;
}

.attribution a {
  color: var(--blue-attr);
}

/* Desktop View */
@media (min-width: 765px) {
  .card__wrapper {
    width: 730px;
    grid-template-columns: 1fr 2fr ;
  }

  .card__content h1 {
    font-size: var(--font-heading);
    line-height: 28px;
    letter-spacing: 0.25px;
  }

  .card__image {
    height: 280px;
    border-radius: 10px 0 0 10px;
  }

}